<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
      @media only screen and (max-width: 640px) {
          .mail-container {
              padding: 16px;
          }
          .mail-card {
              border-radius: 8px;
              padding: 24px;
          }
      }
    </style>
  </head>
  <body style='font-family:"Google Sans", Arial, sans-serif;font-size:15px;line-height:1.3;background-color:#f4f5f6;margin:0;padding:0;'>
    <div class="mail-container" style="max-width:600px;margin:0 auto;padding:24px;text-align:center;background:#f4f5f6;">
      <div class="mail-card" style="background:#ffffff;border-radius:8px;padding:32px;margin-bottom:8px;">
        <h1 style="max-width:360px;margin-left:auto;margin-right:auto;">Hi <span th:text="${firstName}">user</span>,</h1>
        <p style="margin-bottom:24px;max-width:360px;margin-left:auto;margin-right:auto;">Forgot your password? Let's set up a new one!</p>
        <div class="btn" style="margin:24px 0;">
          <a th:href="${resetLink}" target="_blank" style="display:inline-block;padding:12px 24px;background-color:#d0eb6e;border-radius:4px;color:#22382e;text-decoration:none;font-weight:bold;">RESET PASSWORD</a>
        </div>
        <p style="margin-bottom:24px;max-width:360px;margin-left:auto;margin-right:auto;">This link will only be valid for 15 minutes.</p>
      </div>
      <div class="footer" style="color:#9a9ea6;font-size:12px;">
        <p style="margin-bottom:24px;">Sent with ❤️ by <a href="http://localhost:5173/" target="_blank" style="color:#9a9ea6;">Remixify</a></p>
      </div>
    </div>
  </body>
</html>